*{
	/* Resetting the default styles of the page */
	margin:0;
	padding:0;
}

html{
	overflow:auto;
}
body{
	/* Setting default text color, background and a font stack */
	font-size:0.825em;
	color:#777;
	font-family: 'Varela Round', Arial, Helvetica, sans-serif;
	background: #ebebeb;
	width: 900px;
	margin: 20px auto;
}

#full-screen-background-image {
	/* Full size background image */
	z-index: -999;
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
}

#carbonForm{
	/* The login & registration form container */
	background-color: #fff;
	margin:80px 0 0 20%;
	padding:20px;
	width:300px;
	border: solid 3px #fff;
	
	-moz-box-shadow:0 0 50px #000, 0 0 26px #ccc inset;
	-webkit-box-shadow:0 0 50px #000, 0 0 26px #ccc inset;
	box-shadow:0 0 50px #000, 0 0 26px #ccc inset;
	
	-moz-border-radius:22px;
	-webkit-border-radius:22px;
	border-radius:22px;
}
#mainContainer{
	text-align: center;
}


#carbonForm2{
	/* The main form container */
	text-align: left;
	background-color: #fff;
	margin:0 auto 0;
	padding:20px;
	width:850px;
	border: solid 3px #fff;
	
	-moz-box-shadow:0 0 50px #000, 0 0 26px #ccc inset;
	-webkit-box-shadow:0 0 50px #000, 0 0 26px #ccc inset;
	box-shadow:0 0 50px #000, 0 0 26px #ccc inset;
	
	-moz-border-radius:22px;
	-webkit-border-radius:22px;
	border-radius:22px;
}

#logo {
	text-align:center;
	margin:0 0 12px;
}
#logo2 {
	margin:100 0 0 20px;
	line-height: 3;
}
#logout {
	text-align:right;
	
}

#carbonForm h1{
	/* The form heading */
	font-size:60px;
	font-weight:normal;
	padding:0 30px 10px;
	text-align:center;
}

.fieldContainer{
	/* The light rounded section, which contans the fields */
	background-color:#eee;
	border:2px solid #ddd;
	padding:30px 10px;
	
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}


.formRow{
	height:30px;
	padding: 10 10 0 10;
	position:relative;
}

.field{
	float:left;
}

.field input{
	/* The text boxes */
	border:1px solid white;
	width: 260;
	padding:4px 5px;
	font-family: 'Varela Round', Arial, Helvetica, sans-serif;
	color: #999;
	border:1px solid #ddd;
	background: #ffffff;
	outline:none; /* Preventing the default Safari and Chrome text box highlight */
}

.signupButton{
	/* The submit button container */
	text-align:center;
	padding:30px 0 10px;
}

#submit{
	/* The submit button */
	border:1px solid #f4f4f4;
	font-family: 'Varela Round', Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 18px;
	cursor:pointer;
	height:35px;
	padding: 0 15px;
	
	background: #888;
	
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

#submit:hover{
	background: #bbb;
	border:1px solid white;
}

input:hover,
input:focus{
	-moz-box-shadow:0 0 8px lightblue;
	-webkit-box-shadow:0 0 8px lightblue;
	box-shadow:0 0 8px lightblue;
}

.errorTip{
	/* The error divs */
	background-color:#970F08;
	color:white;
	font-size:10px;
	height:26px;
	letter-spacing:0.4px;
	margin-left:20px;
	padding:5px 0 5px 10px;
	position:absolute;
	text-shadow:1px 1px 0 #555555;
	width:200px;
	right:-130px;
}
table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;

	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table th {
	padding:11px 15px 12px 15px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
}
table th:first-child {
	text-align: left;
	padding-left:10px;
}
table tr:first-child th:first-child {
	-moz-border-radius-topleft:7.5px;
	-webkit-border-top-left-radius:7.5px;
	border-top-left-radius:7.5px;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright:7.5px;
	-webkit-border-top-right-radius:7.5px;
	border-top-right-radius:7.5px;
}
table tr {
	text-align: center;
	padding-left:10px;
}
table td:first-child {
	text-align: left;
	padding-left:10px;
	border-left: 0;
}
table td {
	padding:12px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	background:fefefe;
}
table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
	border-bottom:0;
}